body {
    font-family: 'Open Sans', sans-serif;
}

.banner_container {
    background-color: #cacaca;
}

.banner_column {
    background-color: #808080;
}

.about_container {
    background-color: #00BDBD;
}

.education_container {
    background-color: #EEEEEE
}

.bg-redtype {
    background-color: #FB857F;
}

.redtype-color {
    color: #FB857F
}

.circle {
    background-color: #FB857F;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}